/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner:wght@500&family=Josefin+Slab:wght@100&family=Koulen&family=Oswald:wght@200&family=Patua+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Moonrocks&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner:wght@500&family=Josefin+Slab:wght@100&family=Koulen&family=Oswald:wght@200&family=Patua+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Moonrocks&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner:wght@500&family=Josefin+Slab:wght@100&family=Koulen&family=Oswald:wght@200&family=Patua+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Moonrocks&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner:wght@500&family=Josefin+Slab:wght@100&family=Koulen&family=Oswald:wght@200&family=Patua+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik+Moonrocks&family=Slabo+27px&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lobster&display=swap'); */

html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.c_container2{
    width: 100%;
    height: 447px;
    background-size: cover;
    color: white;
}

.c_p_container{
    text-align: center;
    padding-top: 100px;
}

.c_par1{     
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.c_par2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.c_container3{
    background-color: white;
    height: 80px;
}

.c_container4{
    /* background-color: rgb(241, 240, 240); */
    height: auto;
    color: black;
}

.c_details{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
}


.c_detail_container{
    text-align: left;
    margin-top: 100px;
    margin-left: 80px;
}

hr{
    background-color:black;
    color: black;
    width: 400px;
    height: 2px;
}

.main_head{
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    text-transform: capitalize;  
    color: black;
}

.c_add_detail1{
    font-weight: 400;
    font-size: 16px;
}

.c_add_detail2{
    margin-top: -18px;
    font-weight: 400;
    font-size: 16px;
}


.c_phone_head{
    line-height: 142.4%;
}

.c_phone_detail{
    font-weight: 400;
    font-size: 16px;
    line-height: 142.4%;
}

.c_email_head{
    line-height: 142.4%;
    margin-top: -20px;
}

.c_email_detail{
font-weight: 400;
font-size: 16px;
line-height: 142.4%;
margin-top: -20px;
}

.c_form_container{
    margin-top: 70px;
}

.c_form_container input,
.c_form_container textarea{
    background-color: #3e3e3e;
    color: white !important;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* color: #AAA9A9; */
}

.c_form_container input::placeholder,
.c_form_container textarea::placeholder{
    color: rgb(219, 218, 218);
}

.c_form_container input{
    text-align: center;
    text-decoration: none;
    outline: none;
}

.c_form_container textarea{
    width: 503px;
    height:170px;
    padding: 18px;
    padding-left: 25px;
    outline: none;
}

.c_send_btn{
background-color: rgb(50,50,50);
height: 48px;
left: 825px;
top: 1080px;
border: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 132.4%;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}


.c_container5{
    /* background-color: rgb(241, 240, 240); */
    /* height: 1000px; */
    color: rgb(50,50,50);
}

.c_loc_header{
    text-align: center;
padding-top: 40px;
font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 52px;
text-transform: capitalize;
}

.c_hr_c5{
    margin: auto;
    font-weight: bold;
}

.c_loc_title{
font-weight: 700;
font-size: 20px;
margin-top: 10px;
}

.c_loc_desc{
font-weight: 300;
font-size: 18px;
}

.c_loc_inner{
    background-color:rgb(50,50,50);
    padding: 20px 30px;
    width: 190px;
    height: 150px;
    border-radius: 8px;
}

.c_loc_outer{
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: 'Montserrat';
font-style: normal;
line-height: 24px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}

.c_second_heading{
    font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 39px;
text-align: center;
text-transform: capitalize;
color: rgb(50,50,50);
margin-top: 30px;
}

.c_sec_loc_outer{
    flex-wrap: wrap;
    font-family: 'Montserrat';
font-style: normal;
text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.c_sec_loc_inner{
    background-color: rgb(50,50,50);
    margin:13px;
    padding: 13px 33px;
    width: 165px;
    border-radius: 8px;
}

.c_loc_sec_title{
    margin-top: 10px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
}

.c_loc_sec_desc{   
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;    
}

.map_container{
    margin-top: 70px;
}


@media screen and (max-width:1995px){
    .c_map{
        width: 2000px;
    }  
}

@media screen and (max-width:1201px) {
    .c_form_container{
        margin-top: 70px;
        margin-left: -80px;
    }   
    .c_detail_container{
        margin-left: -30px;
    }
}

@media screen and (max-width:1030px) {

    .c_detail_container{
        margin-left: 30px;
    }
}

@media screen and (max-width:993px) {
    .c_container4{
        height: auto;
    } 
    .c_detail_container{
        margin-left: 190px;
    }
    .c_form_container{
        margin-left: 40px;
    }
}

@media screen and (max-width:980px) {
    .c_detail_container{
        margin-left: 190px;
    }
    .c_form_container{
        margin-left: 40px;
    }
}




@media screen and (max-width:767px) {
    .c_detail_container{
        margin-left: 120px;
    }
    .c_form_container{
        margin-left: 0px;
    }
    .c_container5{
        height: 1600px;
    }
}

@media screen and (max-width: 700px) {
    .c_container4{
        height: 950px;
    }
    .c_form_container{
        margin-left: 0px;
    }
    .c_container5{
        height: 1500px;
    }
}

@media screen and (max-width:534px){
     .c_form_container input{
        width:210px;
    }
    .c_form_container textarea{
        width: 438px;
    }
}


@media screen and (max-width:481px) {
    .c_detail_container{
        margin-left: 85px;
    }
}

@media screen and (max-width:461px) {
    .c_detail_container{
        margin-left: 80px;
    }
    .c_form_container input{
        width:180px;
    }
    .c_form_container textarea{
        width: 373px;
    }
    .c_container5{
        height:1700px;
    }
}


@media screen and (max-width:450px) {
    .c_container5{
        height: 2300px;
    }
    .c_image_class{
        margin-left: 30px;
    }   
}


@media screen and (max-width:400px) {
    .c_detail_container{
        margin-left: 40px;
    }
}


@media screen and (max-width:391px) {
    .c_form_container input{
        width:155px;
    }
    .c_form_container textarea{
        width:330px;
    }
}




@media screen and (max-width:356px) {
    .c_form_container input{
        width:140px;
    }
    .c_form_container textarea{
        width:295px;
    }
}

@media screen and (max-width:335px){
    .c_detail_container{
        margin-left: 20px;
    }
}

@media screen and (max-width:321px){
    .c_form_container input{
        width:129px;
    }
    .c_form_container textarea{
        width:273px;
    }
}

