/* a{
    color: white;
    text-decoration: none;
    font-size: 12px;
   
    font-family: var(--bs-body-font-family);
} */

.footer-section {
    background-color: rgb(50, 50, 50);
    color: white;
    position: sticky;
    font-weight: 100;
    font-size: 18px;
}


.footer-section h5 {
    font-weight: bold;
}

.list-unstyled li {
    padding-bottom: 10px;
}

.list-unstyled li a {
    text-decoration: none;
}

.hrStyle {
    width: 90%;
    margin: 0 auto;
}

.footerEnd {
    width: 90%;
    margin: 10px auto;
}

.f_desc{
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;
color: #FFFFFF;
}

.f_desc:hover,
.f_add_detail:hover,
.f_link:hover,
.f_open_link:hover,
.f_soc_icon:hover{
    color: burlywood;
    font-size: 19px;
   
}

.f_add_title{
font-weight: 700;
font-size: 20px;
/* line-height: 24px; */
letter-spacing: 0.110em;
text-transform: uppercase;
color: #FFFFFF;
}


.f_add_detail{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    
}


.f_quick_title{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.115em;
text-transform: uppercase;
color: #FFFFFF;
}

.f_quick_desc{
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;

color: #FFFFFF;
}

.f_open_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.115em;
    text-transform: uppercase;   
    color: #FFFFFF;    
}

.f_open_desc{
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}