/* a{
    color: white;
    text-decoration: none;
    font-size: 12px;
   
    font-family: var(--bs-body-font-family);
} */

.footer-section {
    /* margin-top: 70px; */
    background-color: #0E1317;
    color: white;
    position: sticky;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
   
  
}

.footer-section img {
    height: 80px;
    width: 100px;
}

.footer-section h5 {
    font-weight: bold;
}

.list-unstyled li {
    padding-bottom: 10px;
}

.list-unstyled li a {
    text-decoration: none;
}

.hrStyle {
    width: 90%;
    margin: 0 auto;
}

.footerEnd {
    width: 90%;
    margin: 10px auto;
}

.f_desc{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;

color: #FFFFFF;
}

.f_add_title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.115em;
text-transform: uppercase;

color: #FFFFFF;
}


.f_add_detail{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
}


.f_quick_title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.115em;
text-transform: uppercase;

color: #FFFFFF;
}

.f_quick_desc{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;

color: #FFFFFF;
}

.f_open_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.115em;
    text-transform: uppercase;   
    color: #FFFFFF;    
}

.f_open_desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}