fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

legend {
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

* {
  box-sizing: border-box;
}

.s01 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  /* background: url("images/homeimag9.jpg"); */
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s01 form {
  width: 100%;
  max-width: 1290px;
}

.s01 form legend {
  font-size: 72px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
}

.s01 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 50px;
}


.s01 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: 15px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}

.s01 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:hover,
.s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 10%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}


.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}

@media screen and (max-width: 992px) {
  .s01 form legend {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }

  .s01 form .inner-form {
    padding: 30px 35px;
  }

  .s01 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s01 form legend {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .s01 form .inner-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
  }

  .s01 form .inner-form .input-field {
    margin-right: 0;
  }

  .s01 form .inner-form .input-field input {
    padding: 5px 15px;
    font-size: 16px;
  }

  .s01 form .inner-form .input-field.first-wrap {
    width: 100%;
    margin-bottom: 20px;
  }

  .s01 form .inner-form .input-field.second-wrap {
    width: calc(50% - 10px);
    min-width: auto;
  }

  .s01 form .inner-form .input-field.third-wrap {
    width: calc(50% - 10px);
  }

  .s01 form .inner-form .input-field.third-wrap .btn-search {
    font-size: 16px;
  }
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.serviceh1 {
  text-align: center;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.ser {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .services {
    width: "100%";
    /* background-color: #cbbaa0; */

  }

}


.feedback_title {
  font-size: 25px;
}


.progress-section .progress-card {
  position: relative;
}

.progress-section .progress-img {
  position: absolute;
  text-align: center;
  width: 50%;
  margin: 25px;
}

@media (max-width:768px) {
  .line_img {
    display: none;
  }
}




/* Beauty Saloon Css */


.beauty_saloon_title {
  text-align: center;
  font-weight: 600;
}

.card-img-top {
  width: 279px;
  height: 180px;
}

.card-title {
  text-align: center;
}

.card {
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


.feedback-section {
  background-color: var(--bg-color);
  color: var(--white-color);
}

.feedback-section .feedback-card {
  background-color: #ffff;
  box-shadow: var(--box-shadow);
  color: #000000;
  border-radius: 12px;
  padding: 30px;
}

.feedback-section .owl-carousel .owl-item img {
  display: block;
  width: auto;
}

.feedback-section .owl-carousel .owl-item p {
  color: #474F5A;
}

.owl-carousel__nav {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.owl-carousel__nav>button {
  background: #ffffff;
  color: #000000;
  padding: 8px 15px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.owl-carousel__nav>button:hover {
  background-color: #2F80ED;
  color: #ffffff;
}



@media (max-width:331px) {
  .card {
    width: 250px;
  }

  .card-img-top {
    width: 249px;
  }
}



@media (min-width: 300px) {
  .card-group.card-group-scroll {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.card-group.card-group-scroll>.card {
  flex-basis: 26%;
}