/* *{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
} */

.mainpost{
  /* height: 90vh; */
  /* width: 100%; */
  /* padding: 10px; */
  /* padding-left: 120px;
  padding-right: 120px; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  /* border-radius:100px; */
  /* box-shadow:rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.services{
 padding: 2rem;
 /* background-color: #cbbaa0; */

}

.serviceh1{
   text-align: center;
   margin-top: 10px;
}

.card:hover{
  /* animation: zoom-in 2s ease-in-out; */
  transform: scale(1.02);
  /* background-color: aqua; */
  /* color:white !important; */
}



















/* Beauty Saloon Css */


.beauty_saloon_title{
  text-align: center;
  font-weight: 600;
}

.card-img-top{
  width: 279px;
  height: 180px;
}

.card-title{
  text-align: center;
}

.card{
  width: 280px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

@media (max-width:331px){
  .card{
    width: 250px;
  }
  .card-img-top{
    width: 249px;
  }
}