html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
#main_div_nav
{
    background-color:rgb(212, 174, 126) !important;
    height: 70px;
}

.nav-item {
  margin-bottom:15px;
}

.navbar a{
    font-size: 1.3rem;
    color: black !important;
    text-transform: capitalize;
}

.active{
    font-weight: bold;
    border-bottom: 1px solid black;
    transition: ease-out .5s;
}

@media (max-width:991px){
    .navbar-brand{
        font-size: 1.5rem !important;
    }
    .active{
        font-weight: bold;
        border-bottom: none;
    }
    
}


@keyframes zoom-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  .navbar a:hover{
    animation: zoom-in 1s ease-in-out;
    color:white !important;
}