*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_main_container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.profile_full_form{
    width: 100%;
    max-width: 750px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.profile_form_container{
    background-color: white;
    position: relative;
    width:450px;
}

.title{
    color: rgb(50, 50, 50);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;   
}

.pro_input_container{
    position: relative;
    margin: 1rem 0;
}

.image_container .title{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.img{
    border-radius: 100%;
    border: white 5px solid;
    display: block;
    margin: auto;
}

.profile_form_container .title{
    font-size: 40px;
    text-align: center;
}

.pro_input_container{
    text-align: center;
    width: 100%;
}

.detail_container{
    width: 70%;
}

.input_field{
    border-radius: 20px;
    width: 300px;
}

.input_date_field{
   border-radius: 20px; 
}

.lbl_birthday{
    font-size:18px;
    font-weight: 400;
}

.lbl_gender{
    font-size: 18px;
}

.radio_detail{
    font-size: 18px;
}