.sel_ser{
    /* color: black !important; */
    color: white !important;
}

.add_s_s{
    background-color: white;
    color: black;
    /* background-color: rgb(50,50,50);
    color: white; */
    border-radius: 5px;
}



*{
    margin: 0;
    padding: 0;
}

.s_add_outer_container{
    width: 100%;
    padding: 30px 10px;
    height: 100%;    
}

.s_add_inner_container{
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    box-shadow:rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.s_add_heading_container{
    text-align: center;
    padding: 20px 0 10px 0;
    /* color: rgb(50,50,50); */
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.s_add_input{
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
}



