.Ser_2_head {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.Ser_2_desc {
    font-size: 20px;
    text-align: justify;
}

.loc_container {
    margin: 30px;
    text-align: right;
}

.loc_span {
    display: inline-block;
    position: relative;
}

.loc_icon {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 19px;
    color: white;
}

.loc_btn {
    background-color: rgb(32, 134, 225);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 2em;
}

.hire_header {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
 
  .ser_2_head{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }

  .ser_2_hire_btn{
    background-color: rgb(50, 50, 50);
    color: white;
    border: none;
    border-radius: 5px;
  }

.ser_2_label{
    font-size: 18px;
    font-weight: 500;
}

  .hide {
    display: none;
  }


  .view_more_link{
    background-color: rgb(50, 50, 50);
    color: white;
    text-align: center;
    border-radius: 10px;
  }