.Ser_2_head{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.Ser_2_desc{
    font-size: 20px;
    text-align: justify;
}

.loc_container{
    margin:30px;
    text-align: right;
}

.loc_span{
   display: inline-block;
   position: relative;
}

.loc_icon{
    display: inline-block;
        position: absolute;
        left:5px ;
        top: 19px;
        color: white;
}

.loc_btn{
    background-color: rgb(32, 134, 225);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 2em;
}

.hire_header{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
 
  .ser_2_head{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }

  .ser_2_hire_btn{
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
  }

.ser_2_label{
    font-size: 18px;
    font-weight: 500;
}

  .hide {
    display: none;
  }


  .ser_2_main_card{
    background-color: rgb(		80,80,80);
    color: rgb(255, 255, 255);
    /* border: 2px solid black; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  .view_more_link{
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 180px;
    border: none;
  }


  #more {display: none;}