* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container-fluid{
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    height: 100vh;
    width:100%; 
}

main {
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}

.main::-webkit-scrollbar{
    display: none;
}


.sidebar {
    background: rgb(50, 50, 50);
    color: #fff;
    height: 100vh;
    transition: all 0.5s; 
    border-top-right-radius: 15px;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: 98px;
}

.container-fluid .link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    margin: 10px;
    border-radius: .5rem;
    text-decoration: none;
}


.icon,
.link_text {
    font-size: 20px;
}

.dropdownclose,.dropdown1close{
    margin-left: 140px;
    margin-top: -25px;
}

.dropdown,.dropdown1{
    margin-left: 140px;
    margin-top: -25px;
}

.sub_items{
    font-size: 17px;
    color: white;
    text-decoration: none;
}


.span_class{
    background-color: rgb(50, 50, 50);
    position: relative;
    margin-left: 10px;
}